@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-jetbrains: "JetBrains Mono", monospace;
}

:root {
    --bg-color: #000000;
    --text-primary: #ffffff;

}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-jetbrains);
}